.footer {
  background-color: var(--background-dark);
  color: var(--text-dark);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: var(--shadow);
  transition: background-color 0.3s, color 0.3s;
}

.footer p {
  margin: 0;
}

/* Responsive */
@media (max-width: 480px) {
  .footer {
    padding: 15px 10px;
  }
}
